.header {
    background-color: cornflowerblue;
    text-align: center;
}

p.about-me {
    font-size: 20px;
    opacity: 0.50;
}

.title {
    font-weight: bold;
}

h1 {
    color: azure;
}

body {
    font-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}